body {
    margin: 0;
}

span {
    color: orange;
}

h1 h2 h3 {
    font-family: 'Yeseva One', cursive;
    font-size: 80px;
}

#top-headlines {
    border-left: 2px solid red;
    line-height: 25px;
    padding-left: 5px;
}

#orange {
    color: orange;
}

p {
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

.link-button {
    text-decoration: none;
    background: rgb(70, 138, 70);
    color: white;
    padding: 10px 22px;
    font-weight: bold;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

.link-button:hover {
    background-color: rgb(72, 148, 72);
    color: white;
}

.top-full-section {
    display: flex;
    margin-top: 20px;
}

.top-half-section {
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}

.top-half-section img {
    width: 100%;
}

.second-full-section {
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 50px;
}

.mission {
    width: 300px;
    border-radius: 5px;
    box-shadow: 4px 4px 12px gray;
}

.all-missions {
    display: flex;
    justify-content: space-around;
}

.photo img {
    width: 70%;
}

.content {
    padding: 10px;
}

#first-box {
    background-color: rgb(233, 223, 223);
}

#second-box {
    background-color: rgb(185, 245, 185);
}

#third-box {
    background-color: ivory;
}